/* .okoo:nth-child(even){
    background-color: black;
} */

.DataTable_con{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
color: aquamarine;
}

.even_row{
    background-color: gray;
}

.add_row{
    background-color: blue;
}